.swipe {
    position: absolute;
}
/* DateGame.css */
.glow-button {
    background-color: #ff5722;
    color: #fff;
    box-shadow: 0 0 10px #ff5722, 0 0 20px #ff5722, 0 0 30px #ff5722;
    transition: all 0.2s ease-in-out;
}

.glow-button:hover {
    box-shadow: 0 0 20px #ff5722, 0 0 40px #ff5722, 0 0 60px #ff5722;
}