html, body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
  }
  
  .gallery-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
  }
  
  .gallery-item {
    position: relative;
    flex: 0 0 auto;
    width: 300px; /* Adjust the size as needed */
    height: 170px; /* Adjust the size as needed */
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery-item:hover {
    transform: scale(1.1);
  }
  
  .gallery-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
  }