/* Base Styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* Ensure App container takes full height */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

/* Center the headline at the top */
.graffiti-headline {
  text-align:right;
  color: #ff6347; /* Headline color */
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive; /* Graffiti font */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8); /* Enhanced shadow for better readability */
  margin: 0; /* Remove default margin */
  position: absolute; /* Position absolutely to ensure centering */
  top: 5px; /* Adjust as needed for spacing from top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center using transform */
}

/* Page container to fill remaining space */
.page-content {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff6f61, #ffd700); /* Gradient background */
}

/* Page container */
.logo-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove any default margin */
  background: linear-gradient(135deg, #ff6f61, #ffd700); /* Gradient background */
}

/* Logo container */
.logo-container {
  position: relative; /* Ensure positioning context for absolute children */
}

/* Logo animation */
/* Logo container */
.logo {
  width: 350px; /* Adjust size as needed */
  height: 350px;
  animation: pulse 6s ease-in-out infinite; /* Pulsing animation */
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background for blending */
  border-radius: 50%; /* Rounded edges for a circular logo */
  overflow: hidden; /* Hide overflow to maintain circular shape */
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
}

/* Ensure the image fills the logo container properly */
.logo img {
  width: 100%;
  height: 100%;
  object-fit:inherit; /* Ensure the image covers the circle */
}

/* Keyframes for pulsing effect */
@keyframes pulse {
  0% {
    transform: scale(1); /* Start at normal size */
  }
  50% {
    transform: scale(2); /* Scale up to 120% of original size */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}
